
/*estilos gerais da página
-------------------------*/
h1 {
    text-align: center;
    font-size: 30px;
    color: blue;
}

ul {
    margin: 0;   
}

p {
    width: 40vw; 
    margin: 0;
}

h2 {
    margin: 0;
    color: blue;
}

h3 {
    margin: 0;   
}

h4 {
    margin: 0;   
}

.flexible {
    display: flex;
}

/*estilos do header
-------------------*/

#container {
    max-width: 70vw;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

#div-main {
    width: 60vw;
    height:max-content;
    border:3px solid gray;
    position: relative;
    margin-bottom: 40px;
    
}

legend {
    position: absolute; 
    left: 350px;
    top: 70px;
    background: white;
    padding: 0 5px;
    width: 85px;
    height: 20px;   
}

/*estilos do componentes a direita da página
--------------------------------------------*/

.container-right {
    max-width: 20vw;
    flex-wrap: wrap;
}

.div-right {
    width: 18vw;
    height:max-content;
}

#div-r {
    width: 18vw;
    height:max-content;
    margin-bottom: 20px;
    border-bottom: 3px solid gray;
}

/*estilos dos componentes a esquerda da página
----------------------------------------------*/
.container-left {
    max-width: 40vw;
    flex-wrap: wrap;
    margin-right: 30px;
}

.div-left {
    width: 40vw;
    height:max-content;
    margin-bottom: 20px;
}

#div-l {
    width: 40vw;
    height:max-content;
    margin-bottom: 20px;
    border-bottom: 3px solid gray;
}

#div-r-referal {
    width: 18vw;
    height:max-content;
    margin-bottom: 20px;
    border-bottom: 3px solid gray;
}


